body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}

.header {
    background-image: url('./images/donation13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    margin-bottom: 100px;


}

.header div {
    text-align: center;
    position: relative;
    top: 100px;
}

.header h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 79px;
    color: white;
}

.header p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: white;
}

.link-button {
    color: white;
    text-decoration: none;
    background-color: #FF5959;
    padding: 16px 12px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
}

.donate-money {
    width: 100%;
    position: relative;
    top: 700px;
    color: black;
    text-align: center;
    margin-bottom: 100px;
}

.donate-money-content h2 {
    font-weight: 700;
    font-size: 45px;
}

.donate-money-content p {
    font-size: 18px;
    color: #707070;
}

.flexible-container {
    display: flex;
    justify-content: center;
}

.amount {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 700;
    font-size: 30px;
    color: #707070;
}

#highlight-money {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    padding: 22px 44px;
    text-align: center;
    color: #FF5959;
    position: relative;
    top: -20px;
}

.other-amount {
    color: #B3B3B3;
}

hr {
    width: 765px;
    border: 1px solid #DADADA;
}

.donation-plan {
    width: 100%;
    position: relative;
    top: 700px;
    color: black;
    text-align: center;

}

.donation-plan-text h2 {
    font-weight: 700;
    font-size: 45px;
}

.donation-plan-text p {
    font-size: 18px;
    color: #707070;
    position: relative;
    top: -30px;
}

.donation-plan-card {
    width: 360px;
    height: 352px;
    background-color: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.donation-plan-card img {
    width: 58.13px;
    height: 49.77px;
    position: relative;
    left: -100px;
    top: 60px;
}

.donation-plan-card h3 {
    text-align: left;
    position: relative;
    left: 50px;
    top: 60px;
}

.donation-plan-card p {
    text-align: left;
    position: relative;
    left: 50px;
    top: 60px;
    width: 315px;

}