body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}

.header {
    background-image: url('./images/donation6.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    margin-bottom: 100px;


}

.header div {
    text-align: center;
    position: relative;
    top: 100px;
}

.header h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 79px;
    color: white;
}

.header p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: white;
}

#int-team {
    color: white;
    font-weight: bold;
    font-style: italic;
}

.link-button {
    color: white;
    text-decoration: none;
    background-color: #FF5959;
    padding: 16px 12px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
}

.donate-money {
    width: 100%;
    position: relative;
    top: 700px;
    color: black;
    text-align: center;
    margin-bottom: 100px;
}

.donate-money-content h2 {
    font-weight: 700;
    font-size: 45px;
}

.donate-money-content p {
    font-size: 18px;
    color: #707070;
    text-align: center;
}

.flexible-container {
    display: flex;
    justify-content: center;
}

.amount {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 700;
    font-size: 30px;
    color: #707070;
}

#highlight-money {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    padding: 22px 44px;
    text-align: center;
    color: #FF5959;
    position: relative;
    top: -20px;
}

.other-amount {
    color: #B3B3B3;
}

hr {
    width: 765px;
    border: 1px solid #DADADA;
}

.donation-plan {
    width: 100%;
    position: relative;
    top: 700px;
    color: black;
    text-align: center;
}

.donation-plan-text h2 {
    font-weight: 700;
    font-size: 45px;
}

.donation-plan-text p {
    text-align: center;
    font-size: 18px;
    color: #707070;
    position: relative;
    top: -30px;
}

.donation-plan-card {
    width: 360px;
    height: 352px;
    background-color: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.donation-plan-card img {
    width: 58.13px;
    height: 49.77px;
    position: relative;
    left: -100px;
    top: 60px;
}

.donation-plan-card h3 {
    text-align: left;
    position: relative;
    left: 50px;
    top: 60px;
}

.donation-plan-card p {
    text-align: left;
    position: relative;
    left: 50px;
    top: 60px;
    width: 315px;

}

.section-four {
    position: relative;
    top: 800px;
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
}

.section-four-content {
    position: relative;
    width: 40%;
    top: 40px;
    padding-left: 20px;
    padding-right: 20px;

}

.section-four-img {
    width: 40%;
    height: 477px;
    padding-left: 20px;
    padding-right: 20px;
}

.section-four-img img {
    width: 100%;
    border-radius: 10px;
}

.bonus {
    width: 70%;
    position: relative;
    top: 800px;
    margin-left: 18%;
    margin-right: 12%;

}

.bonus h1 {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
}

.bonus p {
    width: 95%;
    text-align: center;
    font-size: 20px;
    line-height: 34px;
    font-style: italic;
}

.bonus-img {
    display: flex;
}

.bonus-img img {
    width: 90%;
    border-radius: 10px;
}

.bonus-img p {
    width: 90%;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.children-number {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.update {
    position: relative;
    top: 850px;
    text-align: center;
}

.update h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

form {
    width: 809px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF4D6;

}

form input,
button {
    position: relative;
    top: 100px;
}

form #email {
    background-color: #D9D9D9;
    width: 275px;
    height: 48px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    color: #AA9F9F;
    padding-left: 20px;
    font-weight: 500;

}

form #subscribe {
    width: 157px;
    height: 50px;
    background-color: #FF5959;
    border: none;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    color: white;
    font-weight: 700;
}

footer {
    background-color: #0B0D17;
    position: relative;
    top: 850px;
    height: 150px;
}

footer div {
    text-align: center;
}

footer div h4 {
    color: #FF5959;
    font-size: 36px;
    position: relative;
    top: 40px;
    font-family: 'Lobster';
}

footer div p {
    color: #D9DBE1;
    font-family: 'Manrope';
}